
.App {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
}

.right_container {
  padding: 25px;
}

.right_container div{

}
.sidebar_container {
  background-color: aquamarine;
  height: 100%;
  max-width: 23%;
  padding: 25px;
  flex-basis: 20%;

  display: flex;
  align-items: center;
  justify-content: center;
}


.sidebar_container__elements {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.sideBar_element {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  cursor: pointer;
}

.sideBar_element svg {
  width: 25px;
  height: 25px;
  padding: 0;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}